h1 {
	width: 30%;
	font-family: 'Roboto';
	text-align: left;
	font-weight: 300;
	margin-left: 1.66%;
	padding-bottom: 1%;
	border-bottom: 5px #f1f1f1 solid;
	
}

span {
	font-weight: 900;
}



img {
	float: left;
	width: 30%;
	height: 30%;
	margin: 1.66%;
}

